body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #view {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
  }
  
  #button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #e5e7eb;
    color: #6b7280;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
  }
  
  #sidebar {
    overflow-x: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 100vh;
    background-color: #ffffff;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  
  #sidebar2 {
    margin-top: 2.5rem;
    margin-top: 1.5rem;
  }
  
  #css1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  
  #css2 {
    display: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
  }
  
  #menu {
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
  }
  
  #menu1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #374151;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menu1:hover {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #681e1e;
  }
  
  #menu2 {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
  
  #menu3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #374151;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #menu3:hover {
    color: #681e1e;
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
  
  #menu4 {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
  
  #menu5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #374151;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menu5:hover {
    color: #681e1e;
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
  }
  
  #menu6 {
    display: inline;
  }
  
  #css3 {
    margin-left: auto;
    margin-right: auto;
  }
  #css4 {
    display: flex;
    position: relative;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #css5 {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.375rem;
    color: #ffffff;
    background-color: #ef4444;
  }
  
  #css6 {
    padding: 3rem;
    border-radius: 0.375rem;
    background-color: #f9fafb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  #css7 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  #css8 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  .ccs9 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex: 1 1 0%;
  }
  